{% extends "layout.html" %}

{% block content %}

    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Put Max's Mighty Meat in your Mouth</h2>
                <a href="#" class="button">Touch My Peeny</a>
                <a href="{{ url_for('about') }}" class="button">Touch Your Peeny</a>
            </div>

            <div class="section-device">
                <img src="{{ url_for('static', filename='img/device.css') }}">
            </div>

            <div class="clearfix"></div>
        </div>
    </main>

{% endblock %}