{% extends "layout.html" %}

{% block content %}

    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Put Max's Might Meat in your Mouth</h2>
                <a href="#" class="btn-primary">Touch My Peeny</a>
                <a href="#" class="btn-secondary">Touch Your Peeny</a>
            </div>

            <div class="section-device">
                <img src="static/img/device.png">
            </div>

            <div class="clearfix"></div>
        </div>
    </main>

{% endblock %}